.cart-product {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  gap: 20px;
}

.cart-product img {
  width: 100px; /* Fixed width for images */
  height: 100px; /* Fixed height for images */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 5px; /* Rounded corners */
  margin-right: 15px; /* Space between image and details */
}

.details {
  flex-grow: 1; /* Allow details to take available space */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap:10px;

}

.buttons button{
  background-color: #007bff;
  padding: 5px 5px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 20px;

}

.remove-btn {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 100px;
}

.remove-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
